{block content}


    <main class="form-signin container">
    <div class="bg-primaryCss p-2">
    <table class="table table-success m-0 fs-6">
<thead>
<tr>
    <th scope="col"></th>
    <th scope="col">Od</th>
    <th class="d-none d-md-table-cell" scope="col">Do</th>
    <th scope="col">Jméno</th>
    <th class="d-none d-md-table-cell" scope="col">Tel</th>
    <th class="d-none d-md-table-cell" scope="col">Agentura</th>
    <th scope="col"></th>
</tr>
</thead>
    <tbody>
{varType App\Model\Reservation\Reservation[] $reservations}
{foreach $reservations as $reservation}
    <tr>
    <th scope="row">{$reservation->getId()}</th>
    <td>{$reservation->getTermFrom() ->format('d.m.Y')}</td>
    <td class="d-none d-md-table-cell">
{$reservation->getTermTo()->format('d.m.Y')}
</td>
    <td>{$reservation->getName()}</td>
    <td class="d-none d-md-table-cell">
{$reservation->getPhone()}
    </td>
    <td class="d-none d-md-table-cell">
        {$reservation->getAgency()}
    </td>

    <td>
        <a n:href="Reservation:detail id => $reservation->getId()">
            <button class="btn btn-primary bg-secondaryCss text-primaryCss ">Detail</button>
        </a>

    </td>
    </tr> {/foreach}
    </tbody>
    </table>
    </div>
    </main>


{/block}