{block content}


    <main class="form-signin container ">
    <div class="bg-primaryCss p-2">

    <table class="table table-success  m-0 fs-6">
</tbody>

    <tr>
<td>Termín</td>
    <td>{$reservation->getTermFrom() ->format('d.m.Y')} - {$reservation->getTermTo()->format('d.m.Y')}</td>
</tr>

    <tr>
<td>Jméno</td>
    <td>{$reservation->getName()}</td>
</tr>
    <tr>
<td>Telefon</td>
    <td>{$reservation->getPhone()}</td>
</tr>
    <tr>
<td>E-mail</td>
    <td>{$reservation->getEmail()}</td>
</tr>

    <tr>
<td>Adresa</td>
    <td>{$reservation->getAddress()}</td>
</tr>

    <tr>
<td>Agentura</td>
    <td>{$reservation->getAgency()}</td>
</tr>

    <tr>
<td>Info</td>
    <td>{$reservation->getText()}</td>
</tr>

    <tr>
<td>Cena</td>
    <td>
{$reservation->getPrice()}</td>
    </tr>
    <tr>

        <td>Poslední email</td>
        <td>{$reservation->getEmailDate()}</td>
    </tr>


    </tbody>
    </table>
    <div class="text-center">
    <a n:href="Reservation:default">
        <button class="btn btn-primary bg-secondaryCss  mt-2 text-primaryCss ">← zpět na rezervace</button>
    </a></div>
    </div>
    </main>

{/block}